<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933638583694-uuf0thsvr19rgb81p5qqfo8gcsmi71cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933638583694-uuf0thsvr19rgb81p5qqfo8gcsmi71cf</string>
	<key>API_KEY</key>
	<string>AIzaSyCtYQ4pDJZj4f6PFL4nsRsmIuNaRE7l1ic</string>
	<key>GCM_SENDER_ID</key>
	<string>933638583694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ingratope.Marketeirosss</string>
	<key>PROJECT_ID</key>
	<string>socialmediacompanion-c5297</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediacompanion-c5297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933638583694:ios:acbc030d56cf76a8e6a0df</string>
</dict>
</plist>